language: python
python:
  - "2.7"
  #- "3.2"
  #- "3.3"
  - "3.4"
  - "3.5"
  #- "3.6"

notifications:
  email: false

cache: pip

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y -qq python-dev gfortran liblapack-dev libatlas-dev libblas-dev build-essential python-scipy

before_install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda update --yes conda

install:
  - conda install --yes python=$TRAVIS_PYTHON_VERSION pip numpy scipy nose
  - pip install -q coveralls coverage future pathos
  - pip install .

script: 
  - nosetests --cover-branches --with-coverage --cover-package=molml --cover-erase

after_success:
  - coveralls
